.App {
  max-width: 1100px;
  margin: 0 auto;
  padding: 8px;
}

.hot {
  display: flex;
  flex-wrap: wrap;
}

.news-header {
  flex-basis: auto;
}

.news-agency-icon {
  width: 14px;
  height: 14px;
  padding: 5px 5px 0 5px;
}

.ad__square {
  flex-basis: 0;
  padding: 8px;
}

.rates {
  display: flex;
  flex-wrap: wrap;
}

.rate {
  padding: 5px;
}

.rate-span {
  padding: 2px;
}

.search-block {
  display: flex;
  flex-wrap: wrap;
}

.search-form {
  display: flex;
  margin-top: 40px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.columns > * {
  box-sizing: border-box;
  max-width: 280px;
  padding: 5px;
}